/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uilds/
/[Bb]uild/
/[Tt]est[Rr]esults/
/.idea/
/.vs/
*.csproj
*.sln
*.slnx
*.suo
*.user
*.pidb
*.booproj
*.log
*.tmp
*.dmp
.DS_Store
/ProjectSettings/ProjectAuditorSettings.asset
